*{
    font-family: 'Nanum Gothic', sans-serif;
}
.container{
    padding-top: 2rem;
}
.table tr:hover{
    background-color: aliceblue;
}
form{
    padding-top: .5rem;
}
.back{
    box-shadow: 1px 1px 1px .1px
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
.back:hover{
    text-decoration: none;
    color: rgba(49, 79, 105, 0.644);
}
.small{
    opacity: .5;
}
.btn-sm{
    border: .1px solid black;
    box-shadow: .1px .1px .1px .3px;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
    font-size: .7rem;
    width: 100%;
    margin-top: 4rem;
    bottom: 0;
    position: fixed;
    line-height: 1;
}
.copyright>p{
    padding-top: 2px;
}
.labels{
    opacity: .8;
}
.new_user{
    display: flex;
    flex-direction: column;
    max-width: 786px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
#update_user .form-group input[type='text'],#update_user .form-group input[type='email']{
    width: 100%;
}
#new_user .form-group input[type='text'],#new_user .form-group input[type='email']{
    width: 100%;
}
.btn{
    font-weight: bold;
    letter-spacing: .1rem;
}
.btn:hover{
    background-color: rgba(86, 145, 197, 0.192);
}
@media screen and (min-width: 0px) and (max-width: 769px){
    form{
        font-size: .6rem;
    }
}